<!-- Blog Ara Start -->
<div class="home-blog-area section-padding30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                    <span>News form our latest blog</span>
                    <h2>News from around the world selected by us.</h2>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <!-- single-david -->
                <div class="single-blogs mb-30">
                    <div class="blog-images">
                        <img src="assets/img/gallery/blog1.png" alt="">
                    </div>
                    <div class="blog-captions">
                        <span>January 28, 2020</span>
                        <h2><a href="blog_details.html">The advent of pesticides brought 
                            in its benefits and pitfalls.</a></h2>
                        <p>October 6, a2020by Steve</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <!-- single-david -->
                <div class="single-blogs mb-30">
                    <div class="blog-images">
                        <img src="assets/img/gallery/blog2.png" alt="">
                    </div>
                    <div class="blog-captions">
                        <span>January 28, 2020</span>
                        <h2><a href="blog_details.html">The advent of pesticides brought 
                            in its benefits and pitfalls.</a></h2>
                        <p>October 6, a2020by Steve</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Ara End -->