<div class="about-low-area section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <span>About Our Company</span>
                        <h2>Building a Brighter financial Future & Good Support.</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, oeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniminixm, quis nostrud exercitation ullamco laboris nisi ut aliquip exeaoauat. Duis aute irure dolor in reprehe.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, oeiusmod tempor incididunt ut labore et dolore magna aliq.</p>
                    <a routerLink="enquiry" routerLinkActive="active" href="enquiry" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Enquiry</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- about-img -->
                <div class="about-img ">
                    <div class="about-font-img d-none d-lg-block">
                        <img src="assets/img/gallery/about2.png" alt="">
                    </div>
                    <div class="about-back-img ">
                        <img src="assets/img/gallery/about1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Law End-->
<!-- Services Area Start -->
<div class="services-area pt-150 pb-150" data-background="assets/img/gallery/section_bg02.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>Services that we are providing</span>
                    <h2>High Performance Services For All Industries.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-work"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Business Loan</a></h5>
                        <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-loan"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Commercial Loans</a></h5>
                        <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-loan-1"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Construction Loans</a></h5>
                        <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-like"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Business Loan</a></h5>
                        <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                </div>
            </div>

         </div>
    </div>
</div>